:root {
  --base-font-size: 1rem;
  --code-block-border-radius: 0px;
  --code-block-margin: 2rem 0;
  --code-block-padding: 2rem;
  --content-max-width: 65ch;
  --cover-background-color: #FFFFFF;
  --cover-background-mask-color: #FFFFFF;
  --cover-background-mask-opacity: 1;
  --cover-background-mask-visibility: visible;
  --cover-blockquote-color: #E70D68;
  --cover-blockquote-font-size: 1.5rem;
  --cover-button-primary-color: #000000;
  --cover-color: #000000;
  --cover-heading-color: #000000;
  --cover-heading-font-weight: bold;
  --cover-max-width: 65ch;
  --duration-fast: 0;
  --duration-medium: 0;
  --duration-slow: 0;
  --heading-h1-font-size: 3.75rem;
  --heading-h1-font-weight: bold;
  --heading-h2-font-size: 2.25rem;
  --heading-h2-font-weight: bold;
  --heading-h3-font-size: 1.5rem;
  --heading-h3-font-weight: bold;
  --heading-h4-font-size: 1.25rem;
  --heading-h4-font-weight: bold;
  --heading-h5-font-size: 1.125rem;
  --heading-h6-font-size: 1rem;
  --link-color: #E70D68;
  --link-text-decoration--hover: none;
  --modular-scale: 1.25;
  --navbar-root-color--active: #000000;
  --navbar-root-color: #E70D68;
  --search-flex-order: 0;
  --search-input-background-color: #E70D68;
  --search-input-background-image:;
  --search-input-border-color: #E70D68;
  --search-input-border-width: 0;
  --search-input-color: #FFFFFF;
  --search-input-padding: 1rem;
  --search-input-placeholder-color: #FFFFFF;
  --search-margin: 0;
  --sidebar-background: #050505;
  --sidebar-border-color: #050505;
  --sidebar-border-width: 0;
  --sidebar-nav-margin: 1rem 0;
  --sidebar-nav-link-before-color: #FFEE30;
  --sidebar-nav-link-border-width: 0;
  --sidebar-nav-link-color--active: #FFEE30;
  --sidebar-nav-link-color: #FFFFFF;
  --sidebar-nav-link-font-weight--active: bold;
  --sidebar-nav-pagelink-background: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--sidebar-nav-link-color) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--sidebar-nav-link-color) 2.75px 4.25px, transparent 4px);
  --sidebar-toggle-background: #FFEE30;
  --sidebar-toggle-border-color: #FFEE30;
  --sidebar-toggle-border-radius: 0;
  --sidebar-toggle-border-width: 1px;
  --sidebar-toggle-height: 51px;
  --sidebar-toggle-icon-color: #050505;
  --sidebar-toggle-icon-height: 10px;
  --sidebar-toggle-icon-stroke-width: 2px;
  --sidebar-toggle-icon-width: 16px;
  --sidebar-toggle-offset-top: 0;
  --sidebar-toggle-width: 51px;
  --sidebar-width: 269px;
  --theme-hue: 55.1;
  --theme-lightness: 59.4%;
  --theme-saturation: 100%;
}
